useDynLib(SIS)

export(wtlassoglm, fullscadglm, scadglm,  INDEPgetfinalSCADcoef, getfinalSCADcoef,  GLMvanISISscad, GLMvarISISscad,
wtlassocox, fullscadcox, scadcox, getfinalSCADcoefCOX, COXvanISISscad, COXvarISISscad, SIS)

